# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak
~$*.xlsx
